:root {
  /*Primary Colors: standard css*
  /*midnightblue, whitesmoke*/
  /*Secondary Colors*/
  /*Color usage: var(--NAME)*/
  --AcademyGray: rgb(160,163,165);
  --MardiGras: rgb(35,30,35);
  --DarkSlateGray: rgb(55,71,79);
  --Gainsboro: rgb(230,230,230);
  /*Tertiary Colors*/
  --Dimgray: rgb(85,91,110);
  --CrimsonSE: rgb(213,32,44);
}

@font-face {
  /*H2/subtitle font*/
  font-family: Montserrat;
  src: url('assets/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  /*standard body text*/
  font-family: Milliard;
  src: url('assets/Rene Bieder  Milliard Book.woff');
}

.body{
    background-color: whitesmoke;
    font-family: Milliard;
}

header {
  color:var(--CrimsonSE);
  letter-spacing: 5px;
  font-family: Montserrat;
}

header em1 {
  font-size: small;
  letter-spacing: 3px;
}

header em2 {
  letter-spacing: 0px;
}

header button{
    border: none;
    background-color: whitesmoke;
    padding: none; 
    cursor: pointer;
    border-radius: 5px;
}

.inline_parent {
  white-space: nowrap;
  overflow-x: auto;
}

.inline_child {
  display: inline-block;
  overflow: hidden;
}

.div{
    font-family: Milliard;
}

.scroll{
    overflow: scroll;
    height: auto;
    width: auto; 
}

.header_underlined_bolded_red{
    font-family: Montserrat;
    color:var(--CrimsonSE);
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

.header_bolded{
    color:var(--CrimsonSE);
    text-decoration-thickness: 3px;
}
#backimg{
    width:20px; 
    height:100%;
    border-radius: 20px;
    padding-bottom: 110%;
    display: inline-block;
    overflow: hidden;
    background-color: whitesmoke;
  }

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid var(--AcademyGray);
    background-color: whitesmoke;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: var(--Gainsboro);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: var(--AcademyGray);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid var(--AcademyGray);
    border-top: none;
  }

  .banner {
    background-color: midnightblue;
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    height: 50px;
    width: 100%;
    color: whitesmoke;
    position: relative;
}

.banner-content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.dropbtn {
  background-color: whitesmoke;
  color: var(--MardiGras);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: block;
  margin: 10px
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--Gainsboro);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--MardiGras);
  z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: var(--AcademyGray)}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--AcademyGray);
}

.sheetTitle {
  font-family: Montserrat;
  color:var(--CrimsonSE);
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  font-size: 20px;
}

.roomHeader {
  position: relative;
  width: 50%;
}

.roomData {
  display: inline;
  margin-right: 20px;
  font-weight: bold;
}

.gradeSheet {
  font-family: Milliard;
}